.app-wrapper {
  padding: 1rem 3rem;
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 5rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
}
