.dialogs {
    display: grid;

    grid-template-columns: 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        "d m";

    font-size: 18px;
    padding: 5px 0 0 5px;
}

.dialogs-items {}

.active {
    color: gold;
}

.dialog {
    grid-area: d;
}

.messages {}

.message {
    grid-area: m;
}